<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DashCustomKeyboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D331D36C1DD44F960065EB1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D331D3851DD44F960065EB1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D331D3901DD44F960065EB1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
